VITE_CHAIN_ID=56
VITE_NFT_CONTRACT_ADDRESS=0x3c1641A0de76B550C26D25d7f8ee3Ca19966E981
VITE_TEMPLATE_CLIENT_ID=
VITE_THIRDWEB_SECRET_KEY=

# Supabase Config
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=

# Database Config (Optional, if needed)
VITE_POSTGRES_URL=
VITE_POSTGRES_PRISMA_URL=
VITE_POSTGRES_URL_NON_POOLING=